.about-company {
  margin: 0;
  padding: 77px 0 109px 0;

  z-index: 5;

  background-image: url("../img/year_desktop_1x.png");
  background-repeat: no-repeat;
  background-position: 9.4% 90px;
  background-size: 115px 303px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/year_desktop_2x.png");
  }

  @media (max-width: $desktop-width) {
    justify-content: space-between;

    padding: 25px 0 82px 0;

    background-image: url("../img/year_tablet_1x.png");
    background-position: 0.7% 30px;
    background-size: 131px 348px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/year_tablet_2x.png");
    }
  }

  @media (max-width: $tablet-width) {
    padding: 15px 0 64px 0;

    background-image: none;
  }
}

.about-company__block {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 0;
  padding: 0;
}

.about-company__container {
  position: relative;
  top: 0;
  left: 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 78%;
  min-width: 78%;

  margin: 0;
  padding: 0 0 0 120px;

  @media (max-width: $desktop-width) {
    left: 67px;

    margin: 0;
    padding: 0 0 0 50px;

    width: 80%;
  }

  @media (max-width: $tablet-width) {
    left: 0;

    margin: 0;
    padding: 0;

    width: 100%;
  }
}

.about-company__title {
  font-family: $font--roboto-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  margin: 0 0 20px 0;
  padding: 0;

  color: $gray;

  @media (max-width: $desktop-width) {
    font-size: 32px;
    line-height: 45px;

    margin: 0 0 25px 0;
    padding: 0;
  }

  @media (max-width: $tablet-width) {
    font-size: 28px;
    line-height: 39px;

    margin: 0 0 19px 0;
    padding: 0;

    width: 90%;
  }
}

.about-company__text {
  font-family: $font--pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  margin: 0;
  padding: 0;

  color: $gray;

  p {
    margin: 0 0 20px 0;
    padding: 0;

    &:last-child {
      margin: 0 0 40px 0;

      @media (max-width: $desktop-width) {
        margin: 0 0 47px 0;
      }

      @media (max-width: $tablet-width) {
        margin: 0 -10px 40px 0;
      }
    }

    @media (max-width: $desktop-width) {
      text-overflow: ellipsis;
      overflow: hidden;

      margin: 0 0 20px 0;
      padding: 0;

      max-height: 85px;
    }

    @media (max-width: $tablet-width) {
      text-overflow: ellipsis;
      overflow: hidden;

      margin: 0 -10px 40px 0;
      padding: 0;

      max-height: 175px;
    }
  }
}

.about-company__button {
  font-family: $font--roboto-bold;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;

  text-transform: uppercase;

  margin: 0;
  padding: 14px 50px;

  max-width: 180px;

  border: 1px solid $blue;
  border-radius: 5px;

  background-color: transparent;
  color: $blue;

  &:hover,
  &:focus {
    border: 1px solid $white;

    background-color: $blue;
    color: $white;
  }

  @media (max-width: $tablet-width) {
    margin-top: -10px;
  }
}
