.about-company {
  margin: 0;
  padding: 90px 0 112px 0;

  background-color: $white;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 35px 0 62px 0;
  }

  @media (max-width: $tablet-width) {
    padding: 0 0 48px 0;
  }
}

.about-company__layout-container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 0 auto;
  padding: 0 40px;

  max-width: 1410px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    justify-content: space-between;

    padding: 0 25px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 17px;
  }
}

.about-company__image {
  position: relative;
  top: 12px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    left: 5px;

    width: 131px;
    height: 348px;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.about-company__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 70%;

  margin: -20px -20px -20px 45px;
  padding: 20px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    flex-basis: 73%;

    margin: 0 0 0 50px;
    padding: 20px 10px;
  }

  @media (max-width: $tablet-width) {
    flex-basis: 100%;

    margin: 0 -17px;
    padding: 17px 10px 17px 17px;
  }
}

.about-company__title {
  font-family: $font--roboto-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  margin: -20px;
  padding: 20px;

  color: $gray;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    font-size: 32px;
    line-height: 45px;

    margin: -20px -20px 5px -20px;
    padding: 6px 20px 20px 20px;
  }

  @media (max-width: $tablet-width) {
    font-size: 28px;
    line-height: 39px;

    margin: 0 -20px;
    padding: 20px;

    width: 90%;
  }
}

.about-company__text {
  font-family: $font--pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  margin: 0;
  padding: 0;

  color: $gray;
}

.about-company__text p {
  margin: 0;
  padding-bottom: 14px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    text-overflow: ellipsis;
    overflow: hidden;

    margin: 0 0 20px 0;
    padding: 0;

    max-height: 85px;
  }

  @media (max-width: $tablet-width) {
    text-overflow: ellipsis;
    overflow: hidden;

    margin: 0 -10px 40px 0;
    padding: 0;

    max-height: 175px;
  }
}

.about-company__button {
  font-family: $font--roboto-bold;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;

  text-transform: uppercase;

  margin: 0;
  padding: 14px 50px;

  max-width: 180px;

  border: 1px solid $blue;
  border-radius: 5px;

  background-color: transparent;
  color: $blue;

  &:hover,
  &:focus {
    border: 1px solid $white;

    background-color: $blue;
    color: $white;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin-top: 26px;
  }

  @media (max-width: $tablet-width) {
    margin-top: -10px;
  }
}
