.advantages {
  margin: 0;
  padding: 95px 0 0 0;

  background-color: $white;

  overflow: hidden;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 40px 0 0 0;
  }

  @media (max-width: $tablet-width) {
    padding: 37px 0 0 0;
  }
}

.advantages__layout-container {
  margin: 0 auto;
  padding: 0 40px;

  max-width: 1410px;

  z-index: 5;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 0 25px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 17px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 33.8%;

  margin: 15px;
  padding: 40px 45px 65px 45px;

  border: 1px solid $silver;
  border-left: 3px solid $blue;

  &--providers {
    letter-spacing: -0.01em;
  }

  &--privacy,
  &--cost {
    padding: 40px 45px 85px 45px;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    flex-basis: 40.3%;

    padding: 25px 25px 20px 25px;

    &--providers {
      margin: 15px 0 15px 15px;
    }

    &--privacy {
      margin: 15px 15px 15px 0;
      padding: 25px 25px 31px 25px;
    }

    &--cost {
      margin: 15px 0 15px 15px;
      padding: 25px 25px 31px 25px;
    }

    &--deadlines {
      margin: 15px 15px 15px 0;
    }
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 20px 0;
    padding: 24px;

    flex-basis: 100%;

    &--providers {
      padding: 24px 10px 24px 24px;
    }

    &--privacy {
      padding: 25px 25px 32px 25px;
    }

    &--cost {
      padding: 25px 15px 32px 25px;
    }
  }
}

.advantages__image {
  &----stopwatch {
    width: 29px;
    height: 35px;
  }

  &--hired,
  &--tag {
    width: 35px;
    height: 35px;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      width: 32px;
      height: 32px;
    }
  }

  &--detective {
    width: 36px;
    height: 31px;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      width: 30px;
      height: 26px;
    }
  }
}

.advantages__title {
  font-family: $font--roboto-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;

  margin: 0 0 0 -20px;
  padding: 20px 20px 15px 20px;

  color: $blue;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin: 0 0 0 -5px;
    padding: 5px;

    &--privacy {
      margin: 0 -15px 0 -5px;
      padding: 12px 5px 14px 5px;
    }

    &--cost {
      padding: 9px 5px;
    }

    &--providers {
      padding: 8px 5px 9px 5px;
    }
  }

  @media (max-width: $tablet-width) {
    font-size: 20px;
    line-height: 28px;

    margin: 0 0 0 -10px;
    padding: 10px;

    &--privacy {
      padding: 14px 10px 10px 10px;
    }

    &--cost {
      margin: 0 -15px 0 -5px;
      padding: 10px 5px;
    }

    &--providers {
      padding: 14px 10px 10px 10px;
    }
  }
}

.advantages__text {
  font-family: $font--pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: $gray;
}
