.advantages {
  margin: 0;
  padding: 112px 0 0 0;

  overflow: hidden;

  z-index: 5;

  @media (max-width: $desktop-width) {
    padding: 55px 0 0 0;
  }

  @media (max-width: $tablet-width) {
    padding: 37px 0;
  }
}

.advantages__layout-container {
  margin: 0 auto;
  padding: 0 40px;

  max-width: 1490px;

  z-index: 5;

  @media (max-width: $desktop-width) {
    padding: 0 25px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 17px;
  }
}

.advantages__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0;
  padding: 40px 50px 65px 40px;

  width: 40.4%;
  min-width: 40.4%;

  border: 1px solid $silver;
  border-left: 3px solid $blue;

  background-color: $white;

  &:hover,
  &:focus {
    border: 1px solid $blue;
    border-left: 3px solid $blue;
    background-color: $blue;

    svg {
      fill: $white;
    }

    h3,
    p {
      color: $white;
    }
  }

  &--deadlines,
  &--privacy {
    margin: 0 30px 30px 0;
  }

  &--providers,
  &--cost {
    margin: 0 0 30px 0;
  }

  &--providers {
    letter-spacing: -0.01em;
  }

  &--privacy,
  &--cost {
    padding: 40px 45px 85px 45px;
  }

  @media (max-width: $desktop-width) {
    width: 47.8%;
    min-width: 47.5%;

    padding: 25px 25px 20px 25px;

    &--providers {
      margin: 0 0 30px 0;
    }

    &--privacy {
      margin: 0 30px 30px 0;
      padding: 25px 15px 34px 25px;
    }

    &--cost {
      margin: 0 0 30px 0;
      padding: 25px 25px 34px 25px;
    }

    &--deadlines {
      margin: 0 30px 30px 0;
    }
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 20px 0;
    padding: 24px;

    flex-basis: 100%;

    &--providers {
      padding: 24px 10px 24px 24px;
    }

    &--privacy {
      padding: 25px 25px 32px 25px;
    }

    &--cost {
      margin: 0;
      padding: 25px 15px 32px 25px;
    }
  }
}

.advantages__image {
  margin: 0 0 20px 0;
  padding: 0;

  fill: $blue;

  &--stopwatch {
    width: 29px;
    height: 35px;
  }

  &--hired,
  &--tag {
    width: 35px;
    height: 35px;
  }

  &--detective {
    width: 36px;
    height: 31px;
  }

  @media (max-width: $desktop-width) {
    margin: 0 0 5px 0;

    &--hired,
    &--tag {
      width: 32px;
      height: 32px;
    }

    &--tag {
      margin: 0 0 12px 0;
    }

    &--detective {
      margin: 0 0 12px 0;

      width: 30px;
      height: 26px;
    }
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 12px 0;
  }
}

.advantages__title {
  font-family: $font--roboto-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;

  margin: 0 0 15px 0;
  padding: 0;

  color: $blue;

  @media (max-width: $desktop-width) {
    margin: 0 0 10px 0;
    padding: 0;

    &--privacy {
      margin: 0 0 15px 0;
      padding: 0;
    }

    &--cost {
      margin: 0 0 5px 0;
    }
  }

  @media (max-width: $tablet-width) {
    font-size: 20px;
    line-height: 28px;

    margin: 0 0 10px 0;
    padding: 0;
  }
}

.advantages__text {
  font-family: $font--pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  color: $gray;
}
