.contacts,
.contacts__list {
  display: flex;
  flex-direction: row;
}

.contacts {
  align-items: baseline;
}

.contacts__list {
  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: $desktop-width) {
    align-items: baseline;

    margin-right: -14px;
  }

  @media (max-width: $tablet-width) {
    align-items: baseline;

    margin-right: -10px;
  }
}

.contacts__item {
  @media (max-width: $desktop-width) {
    position: relative;
    top: -5px;
    left: 2px;
  }

  @media (max-width: $tablet-width) {
    position: relative;
    top: -5px;
    left: 2px;
  }
}

.contacts__item a {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0;
  padding: 10px 46px;

  &:hover,
  &:focus {
    color: $blue;
  }

  @media (max-width: $desktop-width) {
    padding: 16px;
  }

  @media (max-width: $tablet-width) {
    padding: 11px;
  }
}

.contacts__image {
  &--mail {
    margin-right: 20px;

    width: 19px;
    height: 14px;

    @media (max-width: $desktop-width) {
      margin-right: 0;

      width: 25px;
      height: 19px;
    }

    @media (max-width: $tablet-width) {
      margin-right: 0;

      width: 25px;
      height: 19px;
    }
  }

  &--phone {
    margin-right: 16px;

    width: 18px;
    height: 18px;

    @media (max-width: $desktop-width) {
      margin-right: 0;

      width: 24px;
      height: 24px;
    }

    @media (max-width: $tablet-width) {
      margin-right: 0;

      width: 24px;
      height: 24px;
    }
  }
}

.contacts__mail,
.contacts__phone {
  font-family: $font--pt-mono;
  font-style: normal;
  font-size: 16px;

  @media (max-width: $desktop-width) {
    display: none;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.contacts__open-modal {
  margin: 0;
  padding: 10px 26px;

  height: 45px;

  font-size: 14px;
  line-height: 16px;

  border: 1px solid $white;
  border-radius: 5px;

  color: white;
  background-color: transparent;

  cursor: pointer;

  &:hover,
  &:focus {
    border: 1px solid $blue;

    color: $blue;
  }

  &:active {
    border: 1px solid $white;

    color: white;
  }

  @media (max-width: $desktop-width) {
    display: none;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}
