.copyright {
  margin: 0;
  padding: 0;

  border-top: 1px solid $dark-blue;
}

.copyright__layout-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  margin: 0 auto;
  padding: 0 40px;

  max-width: 1410px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 0 25px;
  }
}

.copyright__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  flex-grow: 1;

  max-width: 815px;
}

.copyright__text,
.copyright__link {
  font-family: $font--pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;

  text-align: center;
  text-transform: uppercase;

  margin: 0 14px 0 -14px;
  padding: 14px;

  color: $dark-blue;

  opacity: 0.5;
}

.copyright__text {
  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: none;
  }
}

.copyright__text--desktop {
  display: none;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: block;

    margin: 0;
  }
}

.copyright__link--first {
  margin: 0 -14px 0 0;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin: 0 -20px;
    padding: 20px;
  }
}

.copyright__link--last {
  margin: 0 -14px 0 14px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin: 0 -20px;
    padding: 20px;
  }
}

.copyright__text--middle {
  position: relative;
  right: 25px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: none;
  }
}
