.copyright {
  margin: 0;
  padding: 14px 0;

  border-top: 1px solid $silver;

  @media (max-width: $desktop-width) {
    padding: 20px 0;
  }

  @media (max-width: $tablet-width) {
    padding: 27px 0;
  }
}

.copyright__layout-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  margin: 0 auto;
  padding: 0 40px;

  max-width: 1490px;

  @media (max-width: $desktop-width) {
    padding: 0 25px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    padding: 0 17px;
  }
}

.copyright__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;

  width: 75%;
  max-width: 815px;

  @media (max-width: $desktop-width) {
    width: auto;
  }

  @media (max-width: $tablet-width) {
    width: auto;
  }
}

.copyright__text,
.copyright__link {
  font-family: $font--pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  letter-spacing: 0.04em;

  text-align: center;
  text-transform: uppercase;

  margin: 0;
  padding: 0;

  max-width: 235px;

  color: $dark-blue;

  opacity: 0.5;
}

.copyright__text {
  margin: 0 50px 0 0;

  &--middle {
    position: relative;
    right: 35px;
  }

  @media (max-width: $desktop-width) {
    display: none;

    &--middle {
      display: none;
    }
  }

  @media (max-width: $tablet-width) {
    display: none;

    &--middle {
      display: none;
    }
  }
}

.copyright__link {
  &:hover,
  &:focus {
    color: $blue;

    outline: none;
    opacity: 1;
  }

  &--first {
    @media (max-width: $tablet-width) {
      margin: 0 0 23px 0;

      box-sizing: content-box;
    }
  }

  &--last {
    display: block;

    @media (max-width: $desktop-width) {
      width: auto;
    }

    @media (max-width: $tablet-width) {
      width: auto;
    }
  }
}
