.feedback {
  position: relative;

  background-color: $blue;

  z-index: 4;

  overflow: hidden;
}

.feedback fieldset {
  margin: 24px 0;
  padding: 0;

  border: none;

  @media (max-width: $tablet-width) {
    margin: 12px 0 24px 0;
  }
}

.feedback__layout-container {
  position: relative;

  margin: 0 auto;
  padding: 60px 40px 69px 40px;

  max-width: 1410px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 50px 25px 61px 25px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 17px;
  }
}

.feedback__container {
  display: flex;
  flex-direction: column;

  margin-left: auto;
  padding: 0;

  width: 50%;

  z-index: 5;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    align-items: center;

    width: 100%;

    &--block {
      position: relative;
      left: 7.5%;

      align-self: flex-start;
    }
  }

  @media (max-width: $tablet-width) {
    align-items: center;

    width: 100%;
  }
}

.feedback__image {
  position: absolute;

  &--airplane {
    top: 24%;
    right: 56.8%;

    object-fit: contain;
    object-position: 50% 50%;
  }

  &--polygons {
    top: -9%;
    right: 57.7%;
  }

  &--polygons-right {
    top: 5.3%;
    right: -0.4%;

    width: 19%;
    height: auto;
  }

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: none;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.feedback__title {
  font-family: $font--roboto-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  margin: 0;
  padding: 30px 10px 7px 10px;

  color: $white;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    font-size: 32px;
    line-height: 45px;

    margin: 0;
    padding: 30px 10px 10px 10px;
  }

  @media (max-width: $tablet-width) {
    font-size: 28px;
    line-height: 39px;

    padding: 30px 10px 10px 0;
  }
}

.feedback__text {
  font-family: $font--pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  margin: 0;
  padding: 5px 15px;

  color: $white;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin: 0;
    padding: 5px 15px 11px 15px;
  }

  @media (max-width: $tablet-width) {
    padding: 5px 15px 11px 0;
  }
}
