.form {
  margin: 0;
  padding: 0;

  width: 100%;
  max-width: 570px;

  @media (max-width: $desktop-width) {
    // width: 86.2%;
    width: 100%;
    min-width: 100%;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.form__container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;

  &--question {
    flex-wrap: nowrap;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.form__name,
.form__tel,
.form__question {
  &--input {
    font-family: $font--pt-mono;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    overflow: hidden;
    text-overflow: ellipsis;

    color: $white;
    background-color: $transparent-white;
    border: none;
    box-shadow: none;
    outline: none;

    &:hover,
    &:focus {
      background-color: $light-white;
    }

    &::placeholder {
      color: $white;
    }
  }
}

.form__name,
.form__tel {
  width: 47.4%;

  @media (max-width: $desktop-width) {
    width: 48.2%;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  &--input {
    padding: 15px 16px;
    width: 100%;

    @media (max-width: $tablet-width) {
      margin: 0 0 30px 0;

      width: 100%;

      box-sizing: border-box;
    }
  }
}

.form__name {
  &--input {
    margin: 0 30px 40px 0;
  }
}

.form__tel {
  &--input {
    margin: 0 0 40px 30px;
  }
}


.form__question {
  width: 100%;

  &--input {
    margin: 0 0 40px 0;
    padding: 12px 16px;

    width: 100%;
    max-height: 154px;

    @media (max-width: $desktop-width) {
      margin: 0 0 43px 0;

      max-height: 160px;
    }

    @media (max-width: $tablet-width) {
      margin: 0 0 23px 0;

      width: 100%;
      max-height: 105px;

      box-sizing: border-box;
    }
  }

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.form__button {
  font-family: $font--roboto-bold;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  margin: 0 38px 0 0;
  padding: 13px 15px 14px 15px;

  width: 69%;

  border: 1px solid $white;
  border-radius: 5px;

  cursor: pointer;

  color: $white;
  background-color: transparent;

  &:hover,
  &:focus {
    color: $blue;
    background-color: $white;
  }

  @media (max-width: $desktop-width) {
    padding: 14px 15px;

    width: 68%;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 15px 0;

    width: 100%;
  }
}

.form__checkbox {
  &:checked + .form__checkbox-label::after {
    position: absolute;
    top: 8%;
    left: 0;

    width: 16px;
    height: 16px;

    content: "";

    background-image: url("../img/icon-checkbox.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }

  @media (max-width: $tablet-width) {
    &:checked + .form__checkbox-label::after {
      top: 26%;
      left: 0.5%;
    }
  }
}

.form__checkbox-label {
  position: relative;
  display: block;

  font-family: $font--pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  margin: 0;
  padding: 0 0 0 33px;

  width: 100%;

  color: $white;

  opacity: 0.7;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &::before {
    position: absolute;
    top: 8%;
    left: 0;

    content: "";

    width: 16px;
    height: 16px;
    border: 1px solid $white;

    background-color: transparent;
  }

  // @media (max-width: $desktop-width) {
  //   padding: 15px 15px 15px 60px;
  //
  //   &::before {
  //     left: 8%;
  //   }
  // }

  @media (max-width: $tablet-width) {
    align-items: flex-start;

    padding: 15px 15px 15px 35px;

    &::before {
      left: 0;
    }
  }
}
