.info__layout-container {
  margin: 0 auto;
  padding: 0 40px;

  max-width: 1490px;

  overflow: hidden;

  @media (max-width: $desktop-width) {
    margin: 0 -25px;
    padding: 0 25px;
  }

  @media (max-width: $tablet-width) {
    margin: 0 -17px;
    padding: 0 17px;
  }
}

.info__container-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  margin: 0;
  padding: 0;

  @media (max-width: $desktop-width) {
    display: block;
  }
}

.info__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0;
  padding: 65px 0 39px 0;

  @media (max-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 100%;

    margin: 0;
    padding: 22px 25px;

    width: 100%;

    border-bottom: 1px solid $silver;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    margin: 0;
    padding: 47px 17px 49px 17px;

    width: 100%;

    border-bottom: 1px solid $silver;

    box-sizing: border-box;
  }
}

.info__navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  width: 70%;

  margin: 0;
  padding: 65px 0 55px 0;

  @media (max-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    margin: 0;
    padding: 38px 25px 35px 25px;

    width: 100%;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    margin: 0;
    padding: 0;

    width: 100%;
  }
}

.info__navigation-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0;
  padding: 0;

  width: 68.5%;

  @media (max-width: $desktop-width) {
    width: 50%;
  }

  @media (max-width: $tablet-width) {
    width: 100%;

    border-bottom: 1px solid $silver;

    &--closed .info__navigation-list,
    &--closed .info__location-group {
      display: none;
    }
  }
}

.info__navigation-container {
  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 11px 17px;
  }
}

.info__navigation-title {
  font-family: $font--roboto-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.05em;

  text-transform: uppercase;

  margin-bottom: 27px;

  color: $dark-blue;

  @media (max-width: $tablet-width) {
    margin: 0;
    padding: 0;
  }
}

.info__navigation-button {
  display: none;

  @media (max-width: $desktop-width) {
    display: none;
  }

  @media (max-width: $tablet-width) {
    position: relative;
    display: flex;
    justify-content: center;

    margin: 0 -17px;
    padding: 17px;

    width: 16px;
    height: 16px;

    box-sizing: content-box;

    cursor: pointer;

    border: none;

    background-color: $light-gray;

    &--closed {
      span {
        &::before {
          display: none;
        }
      }
    }

    span {
      position: relative;
      display: flex;
      align-self: center;

      width: 16px;
      height: 2px;

      background: $silver;

      &::before {
        position: absolute;
        top: -7px;
        left: 7px;

        width: 2px;
        height: 16px;

        content: "";

        background: $silver;
      }
    }
  }
}

.info__navigation-list {
  margin: 0;
  padding: 0;

  column-count: 2;

  list-style: none;

  &--location {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 0;
    padding: 0;
  }

  @media (max-width: $desktop-width) {
    column-count: 1;

    &--location {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      margin: 0;
      padding: 0;
    }
  }

  @media (max-width: $tablet-width) {
    padding: 5px 17px 24px 17px;

    &--opened {
      padding-bottom: 30px;

      column-count: 1;
    }

    &--closed {
      display: none;
    }
  }
}

.info__navigation-item {
  margin: 0;
  padding: 0;

  font-family: $font--pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;

  overflow: hidden;
  text-overflow: ellipsis;

  @media (max-width: $desktop-width) {
    margin: 0;
  }

  @media (max-width: $tablet-width) {
    margin: 0;
  }
}

.info__navigation-item a {
  color: $dark-blue;

  opacity: 0.5;

  &:hover,
  &:focus {
    color: $blue;

    opacity: 1;
  }
}

.info__location {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0;
  padding: 0;

  width: 35%;

  @media (max-width: $desktop-width) {
    width: 48%;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.info__location-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  margin: 0;
  padding: 0;

  @media (max-width: $desktop-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 0;
    padding: 0;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: 0;
    padding: 6px 17px 24px 17px;
  }
}

.info__location-container {
  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.info__location-place,
.info__location-tel {
  margin: 0;
  padding: 0;

  font-family: $font--pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;

  color: $dark-blue;

  opacity: 0.5;
}

.info__location-tel {
  &:hover,
  &:focus {
    color: $blue;

    opacity: 1;
  }
}
