.info__layout-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  margin: 0 auto;
  padding: 65px 40px 57px 40px;

  max-width: 1410px;

  overflow: hidden;
}

.info__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.info__helpful-information {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-basis: 70%;
}
