.logo-group {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 202px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    flex-basis: 202px;
  }

  @media (max-width: $tablet-width) {
    flex-basis: 52px;
  }
}

.logo-group--footer {
  width: 220px;
}

// Логотип компании
.logo-group__image {
  margin-right: 16px;

  width: 52px;
  height: 52px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    width: 52px;
    height: 52px;
  }

  @media (max-width: $tablet-width) {
    margin: 0;

    width: 38px;
    height: 38px;
  }
}

// Блок текста логотипа
.logo-group__text {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

// Название компании в логотипе
.logo-group__text--bold {
  font-family: $font--roboto-bold;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;

  color: $white;
}

// Название компании в логотипе в подвале сайта
.logo-group__text--black {
  color: $blue-green;
}

// Пояснение в логотипе
.logo-group__text--normal {
  font-family: $font--roboto-medium;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;

  color: $dull-gray;
}
