.logo-group {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0;
  padding: 0;

  width: 202px;

  &:hover,
  &:focus {
    outline: none;

    span {
      color: $blue;
    }
  }

  &--footer {
    margin: 0 0 53px 0;

    width: 220px;
  }

  @media (max-width: $desktop-width) {
    width: 202px;

    &--footer {
      margin: 0;

      width: 220px;
    }
  }

  @media (max-width: $tablet-width) {
    width: 52px;

    &--footer {
      margin: 0 0 25px 0;

      width: 220px;
    }
  }
}

.logo-group__image {
  margin-right: 16px;

  width: 52px;
  height: 52px;

  @media (max-width: $desktop-width) {
    width: 52px;
    height: 52px;
  }

  @media (max-width: $tablet-width) {
    margin: 0;

    width: 38px;
    height: 38px;

    &--footer {
      margin-right: 16px;

      width: 40%;
      height: 52px;
    }
  }
}

.logo-group__text {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet-width) {
    display: none;

    &--footer {
      display: block;
    }
  }
}

.logo-group__text-bold {
  font-family: $font--roboto-bold;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;

  color: $white;

  &--black {
    color: $blue-green;
  }
}

.logo-group__text-normal {
  font-family: $font--roboto-medium;
  font-style: normal;
  font-size: 12px;
  line-height: 14px;

  color: $dull-gray;
}
