.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  margin: 0;
  padding: 0;

  width: 490px;

  transform: translate(-50%, -50%);

  background-color: $blue;

  z-index: 10;

  &--hidden {
    display: none;
  }

  &--show {
    display: block;

    @keyframes bounce {
      0% {
        transform: translate(-50%, -50%) translate(0, -2000px);
        opacity: 0;
      }

      70% {
        transform: translate(-50%, -50%) translate(0, 30px);
        opacity: 0.9;
      }

      80% {
        transform: translate(-50%, -50%) translate(0, -20px);
        opacity: 1;
      }

      100% {
        transform: translate(-50%, -50%) translate(0, 0);
        opacity: 1;
      }
    }

    animation: bounce 0.6s;
  }

  &--error {
    @keyframes shake {
      0%,
      100% {
        transform: translate(-50%, -50%) translateX(0);
      }

      10%,
      30%,
      50%,
      70%,
      90% {
        transform: translate(-50%, -50%) translateX(-10px);
      }

      20%,
      40%,
      60%,
      80% {
        transform: translate(-50%, -50%) translateX(10px);
      }
    }

    animation: shake 0.6s;
  }

  @media (max-width: $desktop-width) {
    display: none;
  }

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.modal fieldset {
  margin: 0;
  padding: 15px 0;

  border: none;
}

.modal__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 0;
  padding: 28px 40px;

  &--id,
  &--send {
    position: static;

    padding: 0;
  }
}

.modal__button--close {
  position: absolute;
  top: 0;
  right: 15px;
  display: flex;
  justify-content: center;

  margin: 0 -15px;
  padding: 15px;

  width: 29px;
  height: 29px;

  box-sizing: content-box;

  cursor: pointer;

  border: none;

  background-color: $blue;
}

.modal__button--close span {
  position: relative;
  display: flex;
  align-self: center;

  width: 19px;
  height: 19px;

  background-color: $blue;

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &::before,
  &::after {
    position: absolute;
    top: 8px;
    left: -1px;

    width: 23px;
    height: 1px;

    content: "";

    background-color: $white;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.modal__name--input,
.modal__tel--input,
.modal__question--input {
  font-family: $font--pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  margin: 15px 0;
  padding: 14px 25px 16px 25px;

  width: 100%;

  border: none;

  box-sizing: border-box;

  overflow: hidden;
  text-overflow: ellipsis;

  outline: none;

  color: $white;
  background-color: $transparent-white;

  &:hover,
  &:focus {
    background-color: $light-white;
  }

  &::placeholder {
    color: $white;
  }
}

.modal__question {
  &--input {
    max-height: 104px;
  }
}

.modal__title {
  font-family: $font--roboto-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 39px;

  margin: -15px -15px 0 -15px;
  padding: 15px 15px 15px 15px;

  color: $white;
}

.modal__text {
  font-family: $font--pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  margin: -15px 0 -15px -15px;
  padding: 15px;

  color: $white;
}

.modal__button {
  font-family: $font--roboto-regular;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  margin: 15px 0;
  padding: 14px;

  width: 100%;

  color: $white;
  background-color: transparent;

  border: 1px solid $white;
  border-radius: 5px;

  &:hover,
  &:focus {
    color: $blue;
    background-color: $white;
  }
}

.modal__checkbox {
  &:checked + .modal__checkbox-label::after {
    position: absolute;
    top: 15.5%;
    left: 0.5%;

    width: 16px;
    height: 16px;

    content: "";

    background-image: url("../img/icon-checkbox.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
}

.modal__checkbox-label {
  position: relative;
  top: 11px;
  display: block;

  font-family: $font--pt-mono;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  margin: 0;
  padding: 5px 5px 5px 48px;

  width: 100%;
  max-width: 340px;

  color: $white;

  opacity: 0.7;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &::before {
    position: absolute;
    top: 15%;
    left: 0;

    width: 16px;
    height: 16px;

    content: "";

    border: 1px solid $white;

    background-color: transparent;
  }
}
