.page-header {
  margin: 0;
  padding: 0;

  background-color: $dark-blue;

  overflow: hidden;
}

// Контейнер-центровщик
.page-header__layout-container {
  position: relative;
  top: 0;
  left: 0;

  margin: 0 auto;
  padding: 33px 40px 0 40px;

  max-width: 1410px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 20px 25px 0 25px;
  }

  @media (max-width: $tablet-width) {
    padding: 15px 17px 0 17px;
  }
}

// Изображение двух треугольников
.page-header__image--polygons {
  position: absolute;
  top: 118px;
  left: 55%;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    top: -38px;
    left: 57.5%;

    width: 528px;
    height: 505px;
  }

  @media (max-width: $tablet-width) {
    top: -46px;
    left: 47.6%;

    max-width: none;
    width: 505px;
    height: 482px;
  }
}

// Изображение печатной платы
.page-header__image--ic {
  position: absolute;
  top: 258px;
  left: 55.4%;

  width: 705px;
  height: 515px;

  object-fit: cover;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    top: 115px;
    left: 66.5%;

    width: 465px;
    height: 340px;
  }

  @media (max-width: $tablet-width) {
    top: 93px;
    left: 8%;

    width: 301px;
    height: 220px;
  }
}

.page-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  z-index: 5;
}
