.page-main {
  margin: 0;
  padding: 0;

  background-color: $white;
  background-image: url("../img/polygon-small-right.svg"), url("../img/polygon-big-left.svg"), url("../img/polygon-big-center.svg"), url("../img/polygon-small-left.svg");
  background-size: 17.5%, 30.2%, 46.4%, 11.7%;
  background-repeat: no-repeat;
  background-position: 98.7% 15.5%, -0.5% 22%, 53.4% 7%, 11.5% 1.7%;
}

.page-main__layout-container {
  margin: 0 auto;
  padding: 0 40px;

  max-width: 1490px;

  @media (max-width: $desktop-width) {
    padding: 0 25px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 17px;
  }
}
