.page-header {
  background-color: $dark-blue;

  overflow: hidden;
}

.page-header__layout-container {
  margin: 0 auto;
  padding: 33px 40px 0 40px;

  max-width: 1410px;

  overflow: hidden;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding: 20px 25px 0 25px;
  }

  @media (max-width: $tablet-width) {
    padding: 15px 17px 0 17px;
  }
}

.page-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.page-header__image--polygons {
  position: absolute;
  top: 117px;
  right: 214px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    top: -39px;
    right: -198px;

    width: 528px;
    height: 505px;
  }

  @media (max-width: $tablet-width) {
    top: -44px;
    right: -335px;

    max-width: none;
    width: 505px;
    height: 482px;
  }
}

.page-header__image--ic {
  position: absolute;
  top: 257px;
  left: 1045px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    top: 111px;
    left: 509px;

    width: 465px;
    height: 340px;
  }

  @media (max-width: $tablet-width) {
    top: 92px;
    left: 30px;

    width: 301px;
    height: 220px;
  }
}
