.page-header {
  margin: 0;
  padding: 0;

  background-color: $dark-blue;
  background-image: url("../img/background_image_desktop_1x.png"), url("../img/polygons_group.svg");
  background-size: cover, 671px 641px;
  background-repeat: no-repeat, no-repeat;
  background-position: 0 0, 83% 42%;

  overflow: hidden;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background_image_desktop_2x.png");
  }

  @media (max-width: $desktop-width) {
    background-size: cover, 528px 505px;
    background-position: 0 0, 445px -18%;
  }

  @media (max-width: $tablet-width) {
    background-size: cover, 505px 482px;
    background-position: 0 0, 155px -25%;
  }
}

.page-header__layout-container {
  position: relative;
  top: 0;
  left: 0;

  margin: 0 auto;
  padding: 0 40px;

  max-width: 1490px;

  @media (max-width: $desktop-width) {
    padding: 0 25px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 17px;
  }
}

.page-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 34px 0;

  z-index: 5;

  @media (max-width: $desktop-width) {
    padding: 19px 0;
  }

  @media (max-width: $tablet-width) {
    padding: 15px 0;
  }
}

.page-header__image {
  position: absolute;
  top: 258px;
  left: 55.4%;

  width: 705px;
  height: 515px;

  object-fit: cover;

  @media (max-width: $desktop-width) {
    top: 115px;
    left: 66.5%;

    width: 465px;
    height: 340px;
  }

  @media (max-width: $tablet-width) {
    top: 93px;
    left: 8%;

    width: 301px;
    height: 220px;
  }
}
