.services {
  margin: 0;
  padding: 90px 0 112px 0;

  background-color: $dark-blue;

  @media (max-width: $desktop-width) {
    padding: 50px 0 78px 0;
  }

  @media (max-width: $tablet-width) {
    padding: 50px 0 64px 0;
  }
}

.services__layout-container {
  margin: 0 auto;
  padding: 0 40px;

  max-width: 1490px;

  @media (max-width: $desktop-width) {
    padding: 0 25px;
  }

  @media (max-width: $tablet-width) {
    padding: 0 15px;
  }
}

.services__container {
  margin: 0 auto;
  padding: 0;

  width: 85.1%;

  @media (max-width: $desktop-width) {
    width: 100%;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.services__title {
  font-family: $font--roboto-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  margin: 0 0 36px 0;
  padding: 0 15px;

  color: $white;

  @media (max-width: $desktop-width) {
    margin: 0 0 48px 0;
    padding: 0;

    font-size: 32px;
    line-height: 45px;

    width: 88%;
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 42px 0;
    padding: 0 0 0 10px;

    font-size: 28px;
    line-height: 39px;

    width: 100%;
  }
}

.services__list {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 0;
  padding: 0;

  list-style: none;

  @media (max-width: $desktop-width) {
    flex-direction: column;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.services__item {
  position: relative;

  margin: 15px;
  padding: 50px 44px;

  width: 31.6%;
  height: 620px;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 370px auto;

  outline: none;
  overflow: hidden;

  &:hover,
  &:focus {
    background-color: $blue;
    opacity: 0.9;
  }

  &--productions {
    background-image: url("../img/device1_desktop_1x.png");
  }

  &--montage {
    background-image: url("../img/device2_desktop_1x.png");
  }

  &--components {
    background-image: url("../img/device3_desktop_1x.png");
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &--productions {
      background-image: url("../img/device1_desktop_2x.png");
    }

    &--montage {
      background-image: url("../img/device2_desktop_2x.png");
    }

    &--components {
      background-image: url("../img/device3_desktop_2x.png");
    }
  }

  @media (max-width: $desktop-width) {
    margin: 0 0 47px 0;

    width: 100%;
    height: 256px;

    background-position: 50% 50%;
    background-size: 100% auto;

    &--components {
      margin: 0;
    }
  }

  @media (max-width: $tablet-width) {
    margin: 0 0 30px 0;

    width: 100%;
    height: 256px;

    background-position: 50% 50%;
    background-size: 100% auto;

    &--components {
      margin: 0;
    }
  }
}

.services__item a {
  margin: 0;
  padding: 0;
}

.services__text {
  position: absolute;
  display: block;
  top: 50px;
  left: 45px;

  margin: 0;
  padding: 0;

  font-family: $font--roboto-regular;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;

  color: $white;

  @media (max-width: $desktop-width) {
    top: 40px;

    &--last {
      top: 50px;
    }
  }

  @media (max-width: $tablet-width) {
    top: 20px;
    left: 35px;

    &--last {
      top: 30px;
    }
  }
}

.services__decorative-block {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;

  width: 63px;
  height: 63px;

  background-color: $blue;

  &::before,
  &::after {
    position: absolute;
    left: 30px;

    width: 7px;
    height: 1px;

    content: "";

    background: $white;
  }

  &::before {
    top: 29px;

    transform: rotate(45deg);
  }

  &::after {
    top: 33px;

    transform: rotate(-45deg);
  }
}
