.social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  padding: 0;

  width: 112px;

  list-style: none;

  @media (max-width: $desktop-width) {
    position: relative;
    top: -2px;
    left: 2px;

    margin: 0;
  }

  @media (max-width: $tablet-width) {
    top: 0;
    left: -1px;

    margin: 0;
  }
}

.social__item {
  a {
    &:hover,
    &:focus {
      opacity: 0.5;

      outline: none;
    }
  }
}
