.social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 53px 0 0 0;
  padding: 0;

  width: 112px;

  list-style: none;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    margin: 0;
  }

  @media (max-width: $tablet-width) {
    margin: 0;
  }
}
